[Service]
ExecStart=/usr/local/bin/pebble -config /opt/pebble/custom-config.json -dnsserver localhost:8053
WorkingDirectory=/opt/pebble/
Restart=always
StandardOutput=journal
User=root
Group=root

[Install]
WantedBy=multi-user.target
