[Service]
ExecStart=/usr/local/bin/pebble -config /opt/pebble/test/config/pebble-config.json -dnsserver localhost:8053
WorkingDirectory=/opt/pebble/
Restart=always
StandardOutput=syslog
User=root
Group=root

[Install]
WantedBy=multi-user.target
